<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>transaction_add_drop</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link  href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(function(){
                
                var tags =  <%- JSON.stringify(players) %>;   
                console.log(tags[1].first_name + " " + tags[1].last_name);
                console.log("Number of players: " + tags.length)
                var list = [];
                // console.log(length(tags));
                for(i = 0; i < tags.length; i++){
                    var dher = tags[i].first_name + " " + tags[i].last_name;
                    list.push(dher);
                }
                // var tags = ["tom Brady", "Dez Bryant", "Drew Brees", 'Keenan ALlen']
                $("#user1,#user2,#user3, #user4, #user5, #user6, #FA1, #FA2, #FA3, #FA4, #FA5, #FA6").autocomplete({source: list, messages: 
                    {noResults: '',results: function() {}
                }})
            }); 
        </script>
        <style>
            body{
                font-family: Verdana;
                color: black;
            }
            h1{
                font-size: 48px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            p{
                font-size: 16px; 
                color: #111
            }
            input{
                width:80%;
                padding: 5px;
            }
            
        </style>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href=#>OMAHA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="playerstats">Player Stats</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="transaction" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transactions
          </a>
          <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active" href="add_drop">Add/Drop</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="trade">Trade</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Draft">Draft</a>
        </li>
      </ul>
     
    </div>
  </nav> 
        <div style="background-color: white; width:100%; float:none; padding: 1% 10% 1% 10%;">
            <h1>Add & Drop</h1>
            <h2>Directions</h2>
            <p>This page allows you to get feedback based on possible add and drops you want to do to your team before you actually commit to any changes. First, select how many people
                you want to drop from your team and how many people you want to add to your team by clicking the dropdown button below. When the textboxes show up, type the player names 
                into the boxes and hit Submit. You will then be directed to a page with feedback on the transaction.
            </p>
            <hr>
            <form>
                <div style="float:left; width:45%;">
                    <div>
                        <h3><u>Drop From Team</u></h3>
                        <select id="userTeam" onchange="getvalue()">
                                <option value="A0">0</option>
                                <option value="A1">1</option>
                                <option value="A2">2</option>
                                <option value="A3">3</option>
                                <option value="A4">4</option>
                                <option value="A5">5</option>
                                <option value="A6">6</option> 
                        </select>
                    </div>
                    <div>
                        <input type ="text" id="user1" name="user1" style="display:none" placeholder="Player Name...">
                        <input type ="text" id="user2" name="user2" style="display:none" placeholder="Player Name...">
                        <input type ="text" id="user3" name="user3" style="display:none" placeholder="Player Name...">
                        <input type ="text" id="user4" name="user4" style="display:none" placeholder="Player Name...">
                        <input type ="text" id="user5" name="user5" style="display:none" placeholder="Player Name...">
                        <input type ="text" id="user6" name="user6" style="display:none" placeholder="Player Name...">
                    </div>    
                </div>  
                <div style="float:left; width:45%;">
                    <div>
                        <h3><u>Add To Team</u></h3>
                        <select id="FreeAgent" onchange=getvalue2()>
                                <option value="D0">0</option>
                                <option value="D1">1</option>
                                <option value="D2">2</option>
                                <option value="D3">3</option>
                                <option value="D4">4</option>
                                <option value="D5">5</option>
                                <option value="D6">6</option> 
                        </select>
                    </div>
                    <div>
                            <input type ="text" class="autoc" id="FA1" name="FA1" style="display:none" placeholder="Player Name...">
                            <input type ="text" class="autoc" id="FA2" name="FA2" style="display:none" placeholder="Player Name...">
                            <input type ="text" class="autoc" id="FA3" name="FA3" style="display:none" placeholder="Player Name...">
                            <input type ="text" class="autoc" id="FA4" name="FA4" style="display:none" placeholder="Player Name...">
                            <input type ="text" class="autoc" id="FA5" name="FA5" style="display:none" placeholder="Player Name...">
                            <input type ="text" class="autoc" id="FA6" name="FA6" style="display:none" placeholder="Player Name...">
                    </div>
                </div> 
            </form>  
            <div style="float: left; width:10%;">
                <!-- <button onclick=submit()>Submit</button> -->
                <input type="submit" id="analyze" value="Submit">
            </div>
            
        </div>
        <div style="position:absolute; bottom:20%;width:100%;">
            <hr>
            <h2>Feedback:</h2>
            <div id="drop"></div>
            <div id="add"></div>
            <div id="ml"></div>
        </div>
    </body>
    <script> 
        function getvalue(){
            value = document.getElementById("userTeam").value;
            console.log(value);
            if(value == "A0"){
                document.getElementById("user1").style.display='none';
                document.getElementById("user2").style.display='none';
                document.getElementById("user3").style.display='none';
                document.getElementById("user4").style.display='none';
                document.getElementById("user5").style.display='none';
                document.getElementById("user6").style.display='none';
            }else if(value == "A1"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='none';
                document.getElementById("user3").style.display='none';
                document.getElementById("user4").style.display='none';
                document.getElementById("user5").style.display='none';
                document.getElementById("user6").style.display='none';
            }else if(value == "A2"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='block';
                document.getElementById("user3").style.display='none';
                document.getElementById("user4").style.display='none';
                document.getElementById("user5").style.display='none';
                document.getElementById("user6").style.display='none';
            }else if(value == "A3"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='block';
                document.getElementById("user3").style.display='block';
                document.getElementById("user4").style.display='none';
                document.getElementById("user5").style.display='none';
                document.getElementById("user6").style.display='none';
            }else if(value == "A4"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='block';
                document.getElementById("user3").style.display='block';
                document.getElementById("user4").style.display='block';
                document.getElementById("user5").style.display='none';
                document.getElementById("user6").style.display='none';
            }else if(value == "A5"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='block';
                document.getElementById("user3").style.display='block';
                document.getElementById("user4").style.display='block';
                document.getElementById("user5").style.display='block';
                document.getElementById("user6").style.display='none';
            }else if(value == "A6"){
                document.getElementById("user1").style.display='block';
                document.getElementById("user2").style.display='block';
                document.getElementById("user3").style.display='block';
                document.getElementById("user4").style.display='block';
                document.getElementById("user5").style.display='block';
                document.getElementById("user6").style.display='block';
            }
        }
        function getvalue2(){
            value = document.getElementById("FreeAgent").value;
            if(value == "D0"){
                document.getElementById("FA1").style.display='none';
                document.getElementById("FA2").style.display='none';
                document.getElementById("FA3").style.display='none';
                document.getElementById("FA4").style.display='none';
                document.getElementById("FA5").style.display='none';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D1"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='none';
                document.getElementById("FA3").style.display='none';
                document.getElementById("FA4").style.display='none';
                document.getElementById("FA5").style.display='none';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D2"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='block';
                document.getElementById("FA3").style.display='none';
                document.getElementById("FA4").style.display='none';
                document.getElementById("FA5").style.display='none';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D3"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='block';
                document.getElementById("FA3").style.display='block';
                document.getElementById("FA4").style.display='none';
                document.getElementById("FA5").style.display='none';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D4"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='block';
                document.getElementById("FA3").style.display='block';
                document.getElementById("FA4").style.display='block';
                document.getElementById("FA5").style.display='none';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D5"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='block';
                document.getElementById("FA3").style.display='block';
                document.getElementById("FA4").style.display='block';
                document.getElementById("FA5").style.display='block';
                document.getElementById("FA6").style.display='none';
            }else if(value == "D6"){
                document.getElementById("FA1").style.display='block';
                document.getElementById("FA2").style.display='block';
                document.getElementById("FA3").style.display='block';
                document.getElementById("FA4").style.display='block';
                document.getElementById("FA5").style.display='block';
                document.getElementById("FA6").style.display='block';
            }
        }
        document.getElementById("analyze").onclick = function()
	        {
            value = document.getElementById("userTeam").value;
            slot1 = document.getElementById("user1").value;
            slot2 = document.getElementById("user2").value;
            slot3 = document.getElementById("user3").value;
            slot4 = document.getElementById("user4").value;
            slot5 = document.getElementById("user5").value;
            slot6 = document.getElementById("user6").value;
            dropPlayers = [slot1,slot2,slot3,slot4,slot5,slot6];

            add1 = document.getElementById("FA1").value;
            add2 = document.getElementById("FA2").value;
            add3 = document.getElementById("FA3").value;
            add4 = document.getElementById("FA4").value;
            add5 = document.getElementById("FA5").value;
            add6 = document.getElementById("FA6").value;
            addPlayers = [add1,add2,add3,add4,add5,add6];

            console.log(value, dropPlayers, addPlayers);
            document.getElementById("drop").innerHTML = 
            "You will drop: " + slot1 +" " +  slot2 +" " + slot3 +" " + slot4 +" " + slot5 +" " + slot6;
            document.getElementById("add").innerHTML = 
            "You will add: " + add1 +" " +  add2 +" " + add3 +" " + add4 +" " + add5 +" " + add6;
            document.getElementById("ml").innerHTML = "Machine Learning will go here";
            
	        }
    </script>
</html>